<!DOCTYPE html>
<html>
  <head>
    <title>New Sails App</title>

    <!-- Viewport mobile tag for sensible mobile support -->
   <meta name="robots" content="index">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name=description content="Created by akinola ayodeji">

    <meta name=viewport content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v0.0.4/css/unicons.css">
    <link rel="stylesheet" href="/styles/main.css" type="text/css">
    <title>Hobby App </title>
    <!--STYLES END-->
  </head>

  <body>
    <%- body %>
    <!--SCRIPTS-->
    <script src="/js/app.bundle.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
